/* Default Theme
By Illy */

/* Watch it wiggle, see it jiggle. */

body {
background-color: #F0B352;
}

#header {
background-image: url('/images/style/Default/header.png');
}

#navbar {
background-image: url('/images/style/Default/navbar.png');
}

.dropdown a.navlink, .dropdown a:active.navlink, .dropdown a:visited.navlink {
background-color: #FFF7D9;
font-weight: bold;
color: #C86E32;
}

.dropdown a:hover.navlink {
background-color: #D11131 !important;
font-weight: bold;
color:#FFFFFF !important;
}

h1 { 
color: #B8452E; 
border-bottom-color: #EEAC84; 
background-image: url('/images/style/Default/titlebg.png'); 
background-position: bottom right; 
background-repeat: no-repeat; 
}
h2 { color: #DE7A30; }
h3 { color: #DE7A30; }

.jn_link_image {
background-image: url('/images/style/Default/jn_links.png');
}

#leftnav {
background: #FEE17A url('/images/style/Default/leftsidebar.png') no-repeat bottom right;
border-right: 1px solid #D47018;
border-left: 1px solid #D47018;
padding: 0px 0px 195px 0px;
}

#searchbar input, #calframe {
border-color: #D47018;
}

#footer {
background-color: #FFB340;
background-image: url('/images/style/Default/bottom.png');
}

#jn_link_box, #jn_link_box a, #countertxt {
color: #E8650E;
}

.news_story div.comments, .news_story .news_header, .news_story div.comments a {
background: #D9832F;
color: #FCF1E0;
}

.news_story { border-color: #C26D34; }
.news_story .news_header { border-bottom-color: #C26D34; }
.news_story div.comments { border-top-color: #C26D34; }
.dropdown ul { border: 1px solid #C85E1E; }